.Bar {
    width: auto;
    height: 90px;
    background-color: rgb(19, 19, 57);
    opacity: 90%;
}

.LogoContainer {
    display: inline-block;
    margin: 25px;
}

.Logo {
    transform: rotate(345deg);
}

.Logo:hover {
    width: 125px;
    transform: rotate(350deg);
}
