.LoginContainer {
    position: absolute;
    margin: 30px 10px 0px 90%;
    padding: 15px;
    font-size: 23px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.Btn__Login {
    color: white;
}