.DropDownContainer {
    padding: 100px 50px 30px 30px;;
    width: auto;
    height: 300px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(19, 19, 57);
    opacity: 85%;
    cursor: pointer;
}

.DropDownItem {
    color: white;
    padding: 15px;
    font-size: 19px;
    width: 12%;
}

.DropDownItem:hover {
    font-weight: bold;
}