.DropDownContainer__Visibility {
    visibility: visible;
    padding: 20px 50px 40px 50px;;
    width: auto;
    height: 300px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(19, 19, 57);
    opacity: 90%;
    cursor: pointer;
    z-index: 10px;
}

.DropDownContainer__Hidden {
    visibility: hidden;
    height: 340px;
}

.DropDownOptions {
    margin-top: 40px;
    width: 20%;
    height: 80%;
    float:left;
}

.DropDownOption {
    color: white;
    padding: 15px;
    font-size: 19px;
    width: 90%;
}

.DropDownOption:hover {
    font-weight: bold;
}

.DropDownGamesPosters {
    position: relative;
    display: flex;
    width: 70%;
    margin: 20px 0px 20px 60px;
}

.DropDownGamePoster {
    display: inline-block;
    margin: 0px 0px 0px 30px;
    width: 400px ;
    box-shadow: 10px 5px 5px black;
}

.DropDownGamePoster:hover {
    box-shadow: 18px 10px 10px black;
}