.DropDownContainer {
    position: absolute;
    padding: 50px;
    width: 100%;
    height: 300px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(19, 19, 57);
    opacity: 90%;
    cursor: pointer;
}

.DropDownItem {
    color: white;
    padding: 6px;
    font-size: 19px;
}

.DropDownItem:hover {
    background-color: rgb(13, 13, 40);
}